
  	/*Login text  (index page)*/
  	.login_textfield{
  		height:25px;
  		border-radius: 0px;  		
      color: #212121;
      margin-right: 2px;
      margin-left: 2px;
  	}
    .login_textfield2{
      height:25px;
      border-radius: 0px;
  
      color: #ffffff;
    }
    .height50{
      height: 50px;
    }
  	/*Login buttton (index page)*/
  	.login_button{  		
  		background-color: #000;
  		border:0px;
  	}
  	/*Space before the body content from the top bar (Every page)*/
  	.top_body_space{
  		height:110px;
  	}
     .top_body_space2{
      height:155px;
    }
    .space_down{
      margin-bottom: 15px;
    }
    .Body {
    color: rgb(255, 255, 255);
    font-family: 'ArialMT', 'Arial', sans-serif;
    font-size: 15px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 20px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}



  	/*Main page content section area*/
  	.main_section{
  		margin-left: 14.3%;
  		margin-right:15.5%;
  	}

  	/*Bckground color of all pages*/
  	.body_background{
  		background: rgb(255, 255, 255) url("../uploads/menu_images/BG3.gif");
  	}

    .graphic_textbox_layout_style_default {
        padding: 4px;
    }

  	/*Sign up button styles*/
  	.signup_button{
  		background-color: #FF7F00;
  		border:0px;
  		color:#ffffff;
  		max-height:30px;
  		padding-top: 2px;
  	}
  	.text_field_height{
  		max-height:30px;
  		border-radius: 0px;
  	}
  	.login_texts{
  		margin-top: -20px;
  	}

  	.main_text_header{
  		color:#FF7F00;
  		font-weight: bold;
  		font-size:18px;
  		margin-top: -10px;
  		margin-bottom: -10px;
  		text-align:center;
  	}
  	.panel_no_radius{
  		border-radius: 0px;
  	}

  	.menu_circles{
  		height:150px;
  		width:150px;
  		border-radius: 50%;
  		/*background-color:#BE421E;*/
      background-color:#303030;
  		color:#FF7F00;
  		margin-top:10px;
  		text-align:center;
      cursor: pointer;

  	}
    .menu_circles:hover{
      background-color: #FF7F00;
      color: #ffffff;
    }
  	.menu_middle_circles{
  		height:150px;
  		width:150px;
  		border-radius: 50%;
  		background-color:#303030;
  		color:#FF7F00;  		
  		text-align:center;
  		margin-top:30px;
  		margin-bottom:30px;
      cursor: pointer;
      /*border: solid #000;*/

  	}
    .menu_middle_circles:hover{
      background-color: #FF7F00;
      color: #ffffff;
    }
    .middle_cirle_space_left{
      margin-left:11%;
    }


    .font18{
      font-size:18px;
    }
    
  	
    .menu_icon_images{
     /*font-size: 50px;*/
     cursor:pointer;
    }
    .menu_icon_images:hover{
      color:#FF7F00;
    }
    .rowhover{
      cursor: pointer;
    }
    .rowhover: hover{
      color: #FF7F00;
    }
    .gold{color: #F1E3A6;}
    /*.anc_hover{
   */
    .white{
      color: #ffffff;
    }

    .paragraph_style {
     color: rgb(212, 198, 128);
      font-family: 'AvantGardeITCbyBT-Book', 'AvantGarde Bk BT';
      font-size: 12px;
      font-stretch: normal;
      font-style: normal;
      font-variant: normal;
      /* font-weight: 300; */
      letter-spacing: 0; 
      line-height: 18px;
      margin-bottom: 0px;
      margin-left: 0px; 
      margin-right: 0px;
      margin-top: 0px;
      opacity: 1.00;
      padding-bottom: 0px;
      padding-top: 0px;
      text-align: right;
      text-decoration: none;
      text-indent: 0px;
      text-transform: none;
    }

    .paragraph_style_2 {
    color: rgb(213, 213, 213);
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 12px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 20px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
  }

    .left_28{margin-left: -28px;}

    .top2{
      margin-top:2px;
    }

    .menu_cons_textsss{
      margin-top:15px;
    }

    .menu_cons_textsss:hover{
     color:red;
      color: #FF7F00;
      font-weight: bold;
      cursor: pointer;
    }

    .menu_text_ic{
      color:#AAAAAA;
    }

    .menu_text_ic:hover,.menu_text_ic:focus{
    
      color: rgb(212, 198, 128);
      font-weight: bold;
      cursor: pointer;
      text-decoration: none;
    }

    .menu_text_ic2{
      color:#ffffff;
    }

    .menu_text_ic2:hover,.menu_text_ic2:focus{
     color:red;
      color: rgb(212, 198, 128);
      font-weight: bold;
      cursor: pointer;
      text-decoration: none;
    }

  	.textss {
  		padding-top: 30%;
      color: #ffffff;
  	}
  	.textss_1 {
  		padding-top: 40%;
  		color:#ffffff;
  	}

    .advertise_button{
      font-size: 18px;
      color: #FF7F00;
      text-decoration: none;

    }

    .left_bottom_ad{
      width:100%

    }
    .bottom5{
      margin-bottom:5px;
    }
    .bottom15{
      margin-bottom:15px;
    }
    .index_vertical_slideup_ads_section{
      height: 338px;
    }

    .comment_share_download_panel{
      height:27px;background:#000;border-bottom-left-radius:70px;
    }

    .comment_share_download_panel_text1{
      color:#DADADA;
      
    }
    .comment_share_download_panel_text{
      color:#F9F9F9;
      
    }

   .search_filter_title {
      position: relative;
      text-align: center;
      font-size: 16px;
      font-weight: bold;
     /* margin-bottom:-5px;*/
    }

    .search_filter_title span {
      background: #fff;
      padding: 0 15px;
      position: relative;
      z-index: 1;
    }

    .search_filter_title:before {
      background: #FF7F00;
      content: "";
      display: block;
      height: 1px;
      position: absolute;
        top: 50%;
      width: 100%;
    }
    .search_filter_title:before {
      left: 0;
    }

    .space{
      margin-top: 10px;


    }

    .search_button{
      background-color:#FF7F00;
      color:#fff;
      /*height:21px;*/
      border-radius:0px;
      padding-top:2px;
    }
    .height26{
      height:26px;
    }
    .height2{
      height:2px;
    }
    .height4{
      height:2px;
    }
    .search_textfield{
      margin-right:-10px;
      
    }
    .search_option_select{
      height:26px;
      padding-top: 4px;
      margin-bottom: 5px;
    }
    .menu_line{
      background-color:#000;
      height:2px;
      margin-right:4px;
    }
    .quisoorange_back{
      background-color:#FF7F00;
    }
    .quiso_black{
      color: #222222;
    }
    .quiso_black_back{
      background-color: #222222;
    }
    .quisoorange{
      color:#FF7F00;
    }
    .quiso_faded_orange{
      color: #F69C55;
    }
    .quisoorange_border{
      border-color: #BE421E;
      color: #ffffff;
    }

    /*Files Card*/
    .card-container {
      height: 160px;
      width: 100%;
      perspective: 600;
      position: relative;
      margin-bottom: 20px;
       cursor: pointer;
    }
    .card {
      height: 100%;
      position: absolute;
      transform-style: preserve-3d;
      transition: all 1s ease-in-out;
      width: 100%;
    }
    .card:hover {
      transform: rotateY(180deg);
    }
    .card .side {
      backface-visibility: hidden;
      height: 100%;
      position: absolute;
      width: 100%;
      background-color: #000;
      color: #ffffff;

    }
    .card .back {
      transform: rotateY(180deg);
      background-color: #FF7F00;
    }
    .card .side.p {
      color:red;
    }
    .card_image_size{
      height: 160px;
      width: 100%;
    }
    
    .right5{
      margin-right: 5px;
    }
    .left5{
      margin-right: 5px;
    }
    .height30_no_border_radius{
      height:30px;border-radius:0px;
    }
    .home_main_cat_tab_texts{
      font-size: 18px;
      font-weight: bold;
    }
    .home_main_cat_tabs{
     text-decoration:none;
     color:#333;
     font-weight:bold;
     margin-bottom: 10px;
    }
    .bottom10{
      margin-bottom: 10px;
    }.bottom20{
       margin-bottom: 20px;
    }
    .middle_tabs{
      color:#000;border-color:#FF7F00;
      border-radius:0px;
    }

    .middle_tabs:hover,.middle_tabs:active{
      background-color: #FF7F00;
      color: #ffffff;     
    }
    
    .left1_top60{
      margin-left:1px;margin-top:60px;
    }
    .top3{
      margin-top:3px;
    }
    .toppad3{
      padding-top:3px;
    }
    .left_50{
      margin-left:-50px;
    }
     .left1_top15{
      margin-left:1px;margin-top:15px;
    }
    .top10{
      margin-top:10px
    }
    .noborder_radius{
      border-radius: 0px;
    }

    .menu_list:hover{
      background-color: #FF7F00;
      cursor:pointer;
      color: #ffffff;
    }
    .inner_top_menu:hover{
      
      cursor:pointer;
      color: #FF7F00;
    }
    .kb_text{
      color: #4F4F4F;
    }
    .kb_text:hover{      
      cursor:pointer;
      color: #FF7F00;
    }
    .font12{
      font-size: 12px;
    }
    .font14{
      font-size: 14px;
    }
    .bold{
      font-weight: bold;
    }
    .font11{
      font-size: 11px;
    }

    .menu_icons{
      font-size:40px; margin-top:25%;
    }
    .menu_text_top{
      margin-top:-40px;
    }
    .input_grey_back{
      background-color:#EBEBEB;border-color:#EBEBEB;border:0px;
    }
    .cursor{
      cursor:pointer;
    }
    .campus_kb_circle{
      height:40px;width:40px;border-radius:50%;
    }
    .campus_kb_circle_text{
      text-align:center;font-size:13px;padding-top:28%;
    }
    .document_placeholder{
       height:100px;width:125px;
    }
    .center{
      text-align:center;
    }
    .top4{
      padding-top: 4px;
    }
    .faint_grey{
      color:#AAAAAA;
    }
    .light{
      font-weight: lighter;
    }
    .bottom4{
      margin-bottom:4px;
    }
    .bottom10{
      margin-top: 10px;
    }
    .top5_minus_bottom1{
      margin-top:5px;margin-bottom:-1px;
    }
    .right_bottom_corner {
      position: fixed;
      bottom: 0;
      right: 20px;
      width: 300px;
      border: 3px solid #FF7F00;
    }
    .font18{font-size: 16px;}
    .top_5{
      margin-top:-5px;
    }
    .top_10{margin-top:-10px;}
    .left_14{
      margin-left:-14px;
    }
    .left_43{
      margin-left:-43px;
    }
    .left10{margin-left: 10px;}
    .footer{
      margin-bottom:0px;background-color:#303030;
    }
    .top40{
      margin-top:20px;
    }
    .online_chat{
      background-color:#212121;color:#ffffff;margin-bottom:0px;height:25px;width:220px;
    }
    .online_chat_label{
      padding-left:22px;padding-top:0px;
    }
    .document_display_panel{
      margin-left:15px;margin-right:15px;
    }
    .kbscroll_div{
      height:415px; width:100%; overflow-y: scroll;
    }
    ::-webkit-scrollbar {
        width: 0px;
    }

    .page2docscroll_div{
      height:665px; width:100%; overflow-y: scroll;
    }
    ::-webkit-scrollbar {
        width: 0px;
    }

    .subscriptionCrolldiv{
      height:250px; width:100%; overflow-y: scroll;
    }
    ::-webkit-scrollbar {
        width: 0px;
    }

    .font50{
      font-size: 50px;
    }
    .font19{font-size:19px;}
    .font25{
      font-size:25px;
    }
    .font20{
      font-size:20px;
    }
    .font17{font-size: 17px;}
    
    .jssorb01 {
            position: absolute;
        }
        .jssorb01 div, .jssorb01 div:hover, .jssorb01 .av {
            position: absolute;
            /* size of bullet elment */
            width: 12px;
            height: 12px;
            filter: alpha(opacity=70);
            opacity: .7;
            overflow: hidden;
            cursor: pointer;
            border: #000 1px solid;
        }
        .jssorb01 div { background-color: gray; }
        .jssorb01 div:hover, .jssorb01 .av:hover { background-color: #d3d3d3; }
        .jssorb01 .av { background-color: #fff; }
        .jssorb01 .dn, .jssorb01 .dn:hover { background-color: #555555; }
        
        /* jssor slider arrow navigator skin 05 css */
        /*
        .jssora05l                  (normal)
        .jssora05r                  (normal)
        .jssora05l:hover            (normal mouseover)
        .jssora05r:hover            (normal mouseover)
        .jssora05l.jssora05ldn      (mousedown)
        .jssora05r.jssora05rdn      (mousedown)
        .jssora05l.jssora05lds      (disabled)
        .jssora05r.jssora05rds      (disabled)
        */
        .jssora05l, .jssora05r {
            display: block;
            position: absolute;
            /* size of arrow element */
            width: 40px;
            height: 40px;
            cursor: pointer;
            background: url('img/a17.png') no-repeat;
            overflow: hidden;
        }
        .jssora05l { background-position: -10px -40px; }
        .jssora05r { background-position: -70px -40px; }
        .jssora05l:hover { background-position: -130px -40px; }
        .jssora05r:hover { background-position: -190px -40px; }
        .jssora05l.jssora05ldn { background-position: -250px -40px; }
        .jssora05r.jssora05rdn { background-position: -310px -40px; }
        .jssora05l.jssora05lds { background-position: -10px -40px; opacity: .3; pointer-events: none; }
        .jssora05r.jssora05rds { background-position: -70px -40px; opacity: .3; pointer-events: none; }




      ul.enlarge{
      list-style-type:none; /*remove the bullet point*/
      margin-left:0;

      }
      ul.enlarge li{
      display:inline-block; /*places the images in a line*/
      position: relative;
      z-index: 0; /*resets the stack order of the list items - later we'll increase this*/
      margin:10px 0px 5 0px;
      }
      ul.enlarge img{
      background-color:#ffffff;
      padding: 6px;
      -webkit-box-shadow: 0 0 0px;
      -moz-box-shadow: 0 0 0px ;
      box-shadow: 0 0 0px;
      -webkit-border-radius: 0px; 
      -moz-border-radius: 0px; 
      border-radius: 0px; 
      }
      ul.enlarge span{
      position:absolute;
      left: -9999px;
      background-color:#eae9d4;
      padding: 10px;
      font-family: 'Droid Sans', sans-serif;
      font-size:.9em;
      text-align: center; 
      color: #495a62; 
      
      }
      ul.enlarge li:hover{
      z-index: 50;
      cursor:pointer;
      }
      ul.enlarge span img{
      padding:2px;
      background:#ccc;
      }
      ul.enlarge li:hover span{ 
      top: -30px; /*the distance from the bottom of the thumbnail to the top of the popup image*/
      left: -20px; /*distance from the left of the thumbnail to the left of the popup image*/
        
      }
      ul.enlarge li:hover:nth-child(2) span{
      left: -100px; 
      }
      ul.enlarge li:hover:nth-child(3) span{
      left: -200px; 
      }
      /**IE Hacks - see http://css3pie.com/ for more info on how to use CS3Pie and to download the latest version**/
      ul.enlarge img, ul.enlarge span{
      behavior: url(pie/PIE.htc); 
      }