@media (min-width: 768px) {
	 .navbar-brand {
	  position: absolute;
	  width: 100%;
	  left:2%;
	  top: 0;
	  /*text-align: center;*/
	  margin: auto;
	  padding-top: 10px;
	 }
	}

	/*.nav-top {
	  width: 100%;
	  height: 40px;
	  background: #212121;
	  color: white;
	  text-transform: uppercase;
	  text-align: center;
	  position: fixed;
	  overflow: hidden;
	}*/
	/*.nav-top a { color: #fff; }
	.nav-top a:hover { text-decoration: underline; }
	.nav-top div.row { padding: 10px 0; }
	.head-room { margin-top: 40px; }
	.navbar-fixed-top {*/
	 /*transition: all 3s ease;
   transition: all 3ms ease-in;
	 background-color: #303030;
	 padding-top: 10px;
	 color: white;
  	}*/