body{
font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
}
.css-slideshow{
  position: relative;
  max-width: 495px;
  min-width: 100px;
  height: 150px;
  margin: -1em auto .5em auto;
}
.css-slideshow figure{
  margin: 0;
  max-width: 495px;
  height: 150px;
  background: #000;
  position: absolute;
}
.css-slideshow img{
  box-shadow: 0 0 2px #666;
}
.css-slideshow figcaption{
  position: absolute;
  top: 0;
  color: #fff;
  background: rgba(0,0,0, .3);
  font-size: .8em;
  padding: 8px 12px;
  opacity: 0;
  transition: opacity .5s;
}
.css-slideshow:hover figure figcaption{
  transition: opacity .5s;
  opacity: 1;
}
.css-slideshow-attr{
  max-width: 495px;
  text-align: right;
  font-size: .7em;
  font-style: italic;
  margin:0 auto;
}
.css-slideshow-attr a{
  color: #666;
}
.css-slideshow figure{
  opacity:0;
}
figure:nth-child(1) {
  animation: xfade 28s 22s infinite;
}
figure:nth-child(2) {
  animation: xfade 28s 16s infinite;
}
figure:nth-child(3) {
  animation: xfade 18s 10s infinite;
}
figure:nth-child(4) {
  animation: xfade 18s 4s infinite;
}
figure:nth-child(5) {
  animation: xfade 28s 18s infinite;
}
figure:nth-child(6) {
  animation: xfade 28s 12s infinite;
}
figure:nth-child(7) {
  animation: xfade 28s 6s infinite;
}
figure:nth-child(8) {
  animation: xfade 28s 0s infinite;
}

/*figure2*/
 /* .css-slideshow2{
  position: relative;
  max-width: 495px;
  min-width: 100px;
  height: 150px;
  margin: -1em auto .5em auto;
}*/
.css-slideshow figure2{
  margin: 0;
  max-width: 495px;
  height: 150px;
  background: #000;
  position: absolute;
}
.css-slideshow img{
  box-shadow: 0 0 2px #666;
}
.css-slideshow figcaption{
  position: absolute;
  top: 0;
  color: #fff;
  background: rgba(0,0,0, .3);
  font-size: .8em;
  padding: 8px 12px;
  opacity: 0;
  transition: opacity .5s;
}
.css-slideshow:hover figure2 figcaption{
  transition: opacity .5s;
  opacity: 1;
}
.css-slideshow-attr{
  max-width: 495px;
  text-align: right;
  font-size: .7em;
  font-style: italic;
  margin:0 auto;
}
.css-slideshow-attr a{
  color: #666;
}
.css-slideshow figure2{
  opacity:0;
}
figure2:nth-child(1) {
  animation: xfade 18s 12s infinite;
}
figure2:nth-child(2) {
  animation: xfade 18s 6s infinite;
}
figure2:nth-child(3) {
  animation: xfade 8s 0s infinite;
}
figure2:nth-child(4) {
  animation: xfade 8s 4s infinite;
}
figure2:nth-child(5) {
  animation: xfade 8s 8s infinite;
}
figure2:nth-child(6) {
  animation: xfade 18s 2s infinite;
}
figure2:nth-child(7) {
  animation: xfade 8s 6s infinite;
}
figure2:nth-child(8) {
  animation: xfade 8s 0s infinite;
}

/*end of figure 2*/

@keyframes xfade{
  0%{
    opacity: 1;
  }
  10.5% {
    opacity: 1;
  }
  12.5%{
    opacity: 0;
  }
  98% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}