 
 <nav class="navbar navbar-default navbar-bottom noborder_radius footer" role="navigation">
                  
                    <div style="margin-left:20px;">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-xl-3">
                            <h5 class="white ">Powered by <a href="" class="quisoorange">Quisoplay grounds</a></h5>
                            <h6 class="white ">Develop your system with us</h6>
                        </div>
                         <div class="col-lg-3 col-md-3 col-xl-3">.
                             <h5 class="white middle_cirle_space_left">
                                <a href="" class="white">
                                <div class="row">
                                    <div class="col-lg-1 col-xl-1 col-md-1 col-sm-1 col-xs-1"><label class="ion ion-document " style="font-size:25px;margin-top:-10px;"></label></div>
                                    <div class="col-lg-6 col-xl-6 col-md-6 col-sm-6 col-xs-6"><label class="" style=";margin-left:-8px;">Filedocs @ 2016</label></div>
                                </div>
                                
                                
                                </a>
                            </h5>
                         </div>

                         <div class="col-lg-1 col-md-1 col-xl-1"><p class="white top40">&nbsp;&nbsp;&nbsp;<a class="white" href="">Courses</a></p>
                         </div>
                         <div class="col-lg-1 col-md-1 col-xl-1"><p class="top40"><a class="white rowhover" href="">Universities</a></p>
                         </div>
                         <div class="col-lg-1 col-md-1 col-xl-1"><p class="top40"><a class="white" href="">Courseworks</a></p>
                         </div>
                         
                         <div class="col-lg-1 col-md-1 col-xl-1"><p class="top40"><a class="white" href="">Past papers</a></p></div>
                         <div class="col-lg-2 col-md-2 col-xl-2"><p class="top40"><a class="white" href="">Lecture notes</a></p>
                         </div>
                         
                         
                         <!--  <div class="col-lg-6 col-md-6 col-xl-6">
                              <div class="row ">
                                    <div class="col-lg-2 col-xl-2 col-md-2 white top10"> Courseworks</div>
                                    <div class="col-lg-3 col-xl-3 col-md-3 white"> <p class="top10">Lecture notes</p></div>
                                    <div class="col-lg-3 col-xl-3 col-md-3 white" > <p class=" top10">Past papers</p></div>
                                    <div class="col-lg-2 col-xl-2 col-md-2 white"> <p class="left_50 top10">Courses</p></div>
                                    <div class="col-lg-2 col-xl-2 col-md-2 white"> <p class="left_50 top10">Universities</p></div>

                                </div>
                          </div> -->
                    </div>
                  </div>
                </nav>