<link rel = "stylesheet" href = "../../externals/bootstrap-3.2.0-dist/css/bootstrap-datepicker.css">
<link rel = "stylesheet" href = "../../externals/bootstrap-3.2.0-dist/css/bootstrap.min.css">
<link rel = "stylesheet" href = "../../css/custome_css.css">
<link rel = "stylesheet" type="text/css" href = "../../externals/ionicons-2.0.1/css/ionicons.min.css" media="all">
