<div id="myCarousel" class="vertical-slider carousel vertical slide col-md-12" data-ride="carousel" style="height:70px;">
    <div class="carousel-inner">
        <div class="item active">
            <div class="row">                                                
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <span class="quiso_black bold font18">Need to Advertise with us?.</span>
                    <a class="advertise_button" href="#">Click here</a>
                </div>
            </div>
            <!--/row-fluid-->
        </div>
        <!--/item-->
        <div class="item ">
            <div class="row">
                
                <div class="col-xs-12 col-sm-12 col-md-12">                                                    
                    <span class="quiso_black bold font14">Get back to your earlier time in life with our Syndikate Game</span><br/>
                    <a class="advertise_button" href="#">Get Syndikate</a>
                </div>
            </div>
            <!--/row-fluid-->
        </div>
        <div class="item ">
            <div class="row">
                
                <div class="col-xs-12 col-sm-12 col-md-12">                                                    
                    <span class="quiso_black bold font14">Know what it takes to overcome environmental pollution</span><br/>
                    <a class="advertise_button" href="#">Just play Green Master Game</a>
                </div>
            </div>
            <!--/row-fluid-->
        </div>

        <div class="item ">
            <div class="row">
                
                <div class="col-xs-12 col-sm-12 col-md-12">                                                    
                    <a href="#"> <img src="../../uploads/ads/ad1.png" style="width:100%;height:70px;margin-top:0px;" class="thumbnail"
                        alt="Image" /></a>
                </div>
            </div>
            <!--/row-fluid-->
        </div>

    </div>
</div>