
<!-- <div class="nav-top">
  <div class="container">
   <div class="row">
     <div class="col-xs-12">
       <a href="#">All the materials you need to achieve your academic goal.</a>
     </div>
   </div>
 </div>
</div> -->

<nav class="navbar navbar-inverse navbar-fixed-top" id="general-nav" style='background: rgb(255, 255, 255) url("../../uploads/menu_images/BG3.gif");border:0px;'>
	 <div style="margin-left: 15.5%;margin-top: 33px;margin-right: 15.5%;">
	   
	   <div class="row">
		   	<div class="col-md-2"><img src="../../uploads/menu_images/droppedImage_2.png"></div>
		   	<div class="col-md-10">
		   		
		   		<div class="row left_28">		   	
				   	<div class="col-md-9">
				   		<img src="../../uploads/menu_images/droppedImage.png" style="margin-top: 58px;">
				   	</div>
				   	<div class="col-md-3">
				   		<p class="paragraph_style">+256 75 206 4714<br>+256 77 907 6542</p>
				   		<p class="paragraph_style">info.islemediacorp.com</p>
				   		<p class="paragraph_style">info@islemediacorp.com</p>
				   	</div>
			    </div>
		   		<div class="row left_28">		   	
				   	<div class="col-md-12">
				   		<img src="../../uploads/menu_images/droppedImage_1.png" style="margin-top: -20px;width: 100%;">
				   	</div>
			    </div>

			    <div class="row" style="margin-right: 22px;">		   	
				   	<div class="col-md-7">
				   		
				   	</div>
				   	<div class="col-md-5">
				   		<div class="row" style="margin-top: -12px;margin-right: -90px;">
				   			<div  class="col-md-3  font17">
				   				<a href="index.php" style="text-decoration: none;color: #AAAAAA;" class="menu_text_ic2">HOME<span class="left10">|</span></a>
			   				</div>				   			
				   			<div  class="col-md-4 font17">
				   				<a href="service3.php" style="text-decoration: none;color: #AAAAAA;" class="menu_text_ic">&nbsp;SERVICE<span class="left10">|</span></a>

				   			</div>
				   			
				   			<div  class="col-md-4 font17">

				   				<a href="profile.php" style="text-decoration: none;" class="menu_text_ic">PROFILE<span class="left10">|</span></a>
				   			</div>
				   			
				   		</div>
				   	</div>
			    </div>

		   	</div>
	   </div>
	   
	 </div>
</nav>