<nav class="navbar navbar-inverse navbar-fixed-top" style="background-color:#FF7F00;border:0px;">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
      </button>
      <a class="navbar-brand left5" style="margin-left:5px;" href="home.php">
        <span class="ion ion-document white" style="font-size:25px;"></span>
        <span class="white">Filedocs</span>
      </a>
    </div>
    <div class="collapse navbar-collapse center" id="myNavbar">
     
    </div>
  </div>
</nav>
