<nav class="navbar navbar-inverse navbar-fixed-top" style="background-color:#FF7F00;border:0px;">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
      </button>
      <a class="navbar-brand left5" style="margin-left:5px;" href="home.php">
        <span class="ion ion-document white" style="font-size:25px;"></span>
        <span class="white">Filedocs</span>
      </a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      
      <ul class="nav navbar-nav">
        <form role="search" class="navbar-form navbar-left">
          
           <li class="hidden-sm hidden-xs">
              <div class="input-group" style="max-width:700px;margin-left:34%;min-width:630px;margin-top:2px;">
              
                  <input type="text" class="form-control" id="" style="height:30px;border-radius:0px;">
                  <span class="input-group-addon white" style="height:30px;cursor:pointer;background-color:#222222;">Search</span> 
              </div>
              
           </li>
           <!-- <li class="hidden-md hidden-lg hidden-lg">
              <div class="input-group">
              
              <input type="text" class="form-control" id="" style="height:30px;border-radius:0px;">
              <span class="input-group-addon quisoorange_back quisoorange_border" style="height:30px;cursor:pointer;" onclick="alert('You want to search');">Search</span> 
          </div>
              
           </li> -->

        </form>
      </ul>
      <ul class="nav navbar-nav navbar-right" style="margin-right:5px;">
        <li class="" >
        <!-- style="color:#FF7F00;" -->
          <a class="" href="#" ><span class="ion ion-email-unread  white font19"></span>&nbsp;<span class="white">SMS</span></a>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user white"></span>&nbsp;<span class="white">Nomis Wilson</span></a>
          <ul class="dropdown-menu" style="font-size:11;size:20x20;">
        <li data-toggle="modal" data-target="#myprofile">
          <a href="" ><i class="glyphicon glyphicon-user"></i>&nbsp;My Profile</a>
        </li>       
        <li data-toggle="modal" data-target="#editmyPassword">
          <a href="#"><i class="glyphicon glyphicon-cog"></i>&nbsp;Change password</a>
        </li>
        <li>
          <a onclick="side_menu_docs('doc_EditmyCourseUnit');"><i class="glyphicon glyphicon-list"></i>&nbsp;My Course units</a>
        </li>
        <li class="divider"></li>
        <li>
          <a href="../index/index.php"><i class="glyphicon glyphicon-off"></i>&nbsp;Log Out</a>
        </li>
      </ul>
        </li>       
        
      </ul>
    </div>
  </div>
</nav>
